<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="credit">
      <ion-label>Credito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="debit">
      <ion-label>Debito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cash">
      <ion-label>Efectivo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pending">
      <ion-label>Pendientes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button color="primary"></ion-menu-button>
        <ion-title>Prestamos</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-tabs>
