<ion-content>
  <ion-grid class="auth">
    <ion-card class="ion-text-center auth_card">
      <ion-card-header>
        <ion-card-title>FINANCE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formGroup">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="email" placeholder="Usuario">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
            ></ion-input>
          </ion-item>
          <ion-footer class="ion-no-border">
            <ion-toolbar>
              <ion-button (click)="login()">Inicial sesión</ion-button>
            </ion-toolbar>
          </ion-footer>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
