<ion-item button="true" id="open-date-input">
  <ion-input [(ngModel)]="value"></ion-input>
  <ion-button fill="clear" id="open-date-input-2">
    <ion-icon icon="calendar"></ion-icon>
  </ion-button>
  <ion-popover trigger="open-date-input" show-backdrop="false">
    <ng-template>
      <ion-datetime
        [min]="minDate"
        [max]="maxDate"
        #popoverDatetime
        presentation="date"
        (ionChange)="setChange(popoverDatetime.value)"
      >
      </ion-datetime>
    </ng-template>
  </ion-popover>
</ion-item>
