<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon
          [name]="formGroup.get(formCtrl.icon).value.icon"
          [color]="formGroup.get(formCtrl.icon).value.labelColor"
          slot="start"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Nuevo registro </ion-title>
    <ion-buttons (click)="cancelModal()" slot="end">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conten">
    <form class="conten_front" [formGroup]="formGroup">
      <ion-list>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating"> Nombre </ion-label>
              <ion-input
                placeholder="Nombre"
                [formControlName]="formCtrl.name"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <app-currency-input
              [formControlName]="formCtrl.value"
            ></app-currency-input>
          </ion-col>
        </ion-row>
        <!--         <ion-row>
          <ion-col>
            <app-combobox
              label="Fuente"
              [items]="itemsType"
              [formControlName]="formCtrl.type"
            >
            </app-combobox>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Motivo</ion-label>
              <ion-textarea
                placeholder="Motivo"
                [formControlName]="formCtrl.reason"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-toolbar>
    <app-buttons-actions
      [disabled]="formGroup.invalid"
      (createEventEmit)="onSaveChange()"
      (cancelEventEmit)="cancelModal()"
      [isCreate]="true"
    >
    </app-buttons-actions>
  </ion-toolbar>
</ion-footer>
