<ion-header translucent>
  <ion-toolbar>
    <ion-title> {{ title }} </ion-title>
    <ion-buttons (click)="cancel()" slot="end">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!isCreate">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h3>Nombre: {{ data.name }}</h3>
          <h3>
            Pendiente:
            {{ data.pendingValue | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h3>
          <h3>
            Pagado:
            {{ data.paidValue | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h3>
          <h3>
            Total:
            {{ data.fullValue | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h3>
        </ion-label>
        <ion-item lines="none">
          <ion-label class="items-center-label">
            <ion-icon
              slot="end"
              [color]="data.icon.labelColor"
              [name]="data.icon.icon"
            ></ion-icon>
            <ion-label [color]="data.icon.labelColor">
              {{ data.type.name }}
            </ion-label>
          </ion-label>
        </ion-item>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="formGroup">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [formControlName]="formCtrl.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <app-currency-input
            [formControlName]="formCtrl.value"
          ></app-currency-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isCreate">
        <ion-col>
          <app-calendar [formControlName]="formCtrl.date"></app-calendar>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isCreate">
        <ion-col>
          <app-combobox
            label="Tipo"
            [items]="itemsType"
            [formControlName]="formCtrl.type"
          ></app-combobox>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isCreate">
        <ion-col>
          <app-combobox
            label="Operacion"
            [items]="itemsOperation"
            [formControlName]="formCtrl.operations"
          ></app-combobox>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isCreate">
        <ion-col>
          <app-combobox
            label="Metodo"
            [items]="itemsPayment"
            [formControlName]="formCtrl.payment"
          ></app-combobox>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-buttons-actions
      [disabled]="formGroup.invalid"
      (createEventEmit)="saveChange($event)"
      (cancelEventEmit)="cancel()"
      [isCreate]="isCreate"
    >
    </app-buttons-actions>
  </ion-toolbar>
</ion-footer>
