<ion-header translucent>
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title> {{ title }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="!isCreate">
    <ion-card-content>
      <ion-item lines="none">
        <label>
          <h3>Nombre: {{ data.name }}</h3>
          <p>
            Pendiente:
            {{ data.pendingValue | currency: "COP":"symbol-narrow":"1.0-0" }}
          </p>
          <p>
            Pagado:
            {{ data.paidValue | currency: "COP":"symbol-narrow":"1.0-0" }}
          </p>
          <p>
            Total:
            {{ data.fullValue | currency: "COP":"symbol-narrow":"1.0-0" }}
          </p>
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="formGroup">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [formControlName]="formCtrl.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Valor</ion-label>
            <ion-input type="number" [formControlName]="formCtrl.value">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="isCreate">
          <app-calendar [formControlName]="formCtrl.date"></app-calendar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-combobox
            label="Tipo"
            [items]="itemsType"
            [formControlName]="formCtrl.type"
          ></app-combobox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-combobox
            label="Fuente"
            [items]="itemsLoans"
            [formControlName]="formCtrl.status"
          ></app-combobox>
        </ion-col>
      </ion-row>
    </ion-list>

    <app-buttons-actions
      [loading]="loading"
      [disabled]="formGroup.invalid"
      (createEventEmit)="saveChange($event)"
      (cancelEventEmit)="cancel()"
      [isCreate]="isCreate"
    >
    </app-buttons-actions>
  </form>
</ion-content>
