<ion-header translucent>
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title> Registrar un gasto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Valor</ion-label>
            <ion-input
              type="number"
              [formControlName]="formCtrl.value"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-textarea
            placeholder="Descripcion"
            [formControlName]="formCtrl.description"
          ></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-list>

    <app-buttons-actions
      [loading]="loading"
      [disabled]="formGroup.invalid"
      (createEventEmit)="onSaveChange($event)"
      (cancelEventEmit)="cancel()"
    >
    </app-buttons-actions>
  </form>
</ion-content>
