<ion-header translucent>
  <ion-toolbar>
    <ion-title> Registrar un gasto </ion-title>
    <ion-buttons (click)="cancel()" slot="end">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-row>
        <ion-col>
<!--           <ion-item>
            <ion-label position="floating">Valor</ion-label>
            <ion-input
              placeholder="$0,000"
              type="number"
              [formControlName]="formCtrl.value"
            >
            ></ion-input>
          </ion-item> -->
          <app-currency-input></app-currency-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea
              placeholder="Descripcion"
              [formControlName]="formCtrl.description"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-combobox
            label="Fuente"
            [items]="itemsType"
            [formControlName]="formCtrl.operations"
          ></app-combobox>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-buttons-actions
      [disabled]="formGroup.invalid"
      (createEventEmit)="onSaveChange($event)"
      (cancelEventEmit)="cancel()"
    >
    </app-buttons-actions>
  </ion-toolbar>
</ion-footer>
