<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Listados de prestamos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-button
  class="button"
  [disabled]="loading"
  (click)="openModalCreate()"
  color="primary"
>
  <ion-icon name="add-circle-outline"></ion-icon>
</ion-button>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of loans">
      <ion-label>
        <h3>Nombre: {{ item.name }}</h3>
        <h3>
          Valor:
          {{ item.pendingValue | currency: "COP":"symbol-narrow":"1.0-0" }}
        </h3>
        <p>{{ item?.history[0].status.name }}</p>
      </ion-label>
      <ion-item-group>
        <ion-button (click)="view(item)">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="update(item)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item-group>
    </ion-item>
  </ion-list>
</ion-content>
