.expenses-modal {
  &::part(content) {
    height: 300px;
    width: 86%;
    border-radius: 10px;
  }
}

.loans-modal-create {
  &::part(content) {
    height: 265px;
    width: 86%;
    border-radius: 10px;
  }
}

.loans-modal-edit {
  &::part(content) {
    height: 275px;
    width: 86%;
    border-radius: 10px;
  }
}

.view-modal {
  &::part(content) {
    height: 500px;
    width: 98%;
    border-radius: 10px;
  }
}

.add-value-modal {
  &::part(content) {
    height: 200px;
    width: 90%;
    border-radius: 10px;
  }
}

.cash-modal{
  &::part(content) {
    height: 180px;
    width: 90%;
    border-radius: 10px;
  }
}

.cambio-aceite-modal {
  &::part(content) {
    height: 200px;
    width: 90%;
    border-radius: 10px;
  }
}
