.expenses-modal {
  &::part(content) {
    height: 290px;
    width: 60%;
    border-radius: 10px;
  }
}

.loans-modal-create {
  &::part(content) {
    height: 328px;
    width: 98%;
    border-radius: 10px;
  }
}

.loans-modal-edit {
  &::part(content) {
    height: 485px;
    width: 98%;
    border-radius: 10px;
  }
}

.view-modal {
  &::part(content) {
    height: 500px;
    width: 98%;
    border-radius: 10px;
  }
}

.cash-modal{
  &::part(content) {
    height: 180px;
    width: 70%;
    border-radius: 10px;
  }
}
