<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-capitalize">
      Prestamo - {{ data.name }}
    </ion-title>
    <ion-buttons (click)="cancel()" slot="end">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>
        <h3>
          Total:
          {{ data.fullValue | currency : "COP" : "symbol-narrow" : "1.0-0" }}
        </h3>
        <h3>
          Pendiente:
          <b>
            {{
              data.pendingValue | currency : "COP" : "symbol-narrow" : "1.0-0"
            }}
          </b>
        </h3>
        <h3>
          Pagado:
          {{ data.paidValue | currency : "COP" : "symbol-narrow" : "1.0-0" }}
        </h3>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="prestamos">
    <ion-segment-button value="prestamos"> Prestamos </ion-segment-button>
    <ion-segment-button value="abonos"> Abonos </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <div *ngIf="'prestamos' === segment">
    <ion-list *ngFor="let item of data.historyLoan">
      <ion-item>
        <ion-icon
          [name]="item.icon.icon"
          slot="start"
          [color]="item.icon.labelColor"
        ></ion-icon>
        <ion-label>
          <h3>
            Valor:
            {{ item?.value | currency : "COP" : "symbol-narrow" : "1.0-0" }}
          </h3>
          <h3 class="reason">
            Motivo: <samp class="reason_item"> {{ item?.reason }}</samp>
          </h3>
          <p>{{ item?.date | date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="'abonos' === segment">
    <ion-list *ngFor="let item of data.historyPayment">
      <ion-item class="ion-padding-start">
        <ion-label>
          <h3>
            Valor:
            {{ item?.value | currency : "COP" : "symbol-narrow" : "1.0-0" }}
          </h3>
          <h3>Metodo: {{ item?.paymentMethod?.name }}</h3>
          <p>Fecha: {{ item?.date | date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
