.items-center-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 23px;
}

.list_contain {
  display: flex;

  &_item {
    width: 50%;
  }
}

.title {
  display: flex;
  margin-bottom: 8px;
}
