<form>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Valor</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-calendar></app-calendar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Efectivo</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Gasto</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Pendiente</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <app-buttons-actions (createEventEmit)="options($event)" [isCreate]="true"></app-buttons-actions>
    </ion-grid>
  </ion-list>
</form>
