<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-title>Detalles generales</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <app-add-buttons (changeEvent)="valueChanges($event)">
      <ion-item lines="none">
        <ion-icon color="primary" name="calendar-outline"></ion-icon>
      </ion-item>
    </app-add-buttons>
  </ion-card>

  <ion-card>
    <ion-item (click)="openConsignmentModal()">
      <ion-icon color="success" name="cash-outline" slot="start"></ion-icon>
      <ion-label>Efectivo</ion-label>
      <ion-note slot="end">
        {{ cashGeneral?.value | currency : "COP" : "symbol-narrow" : "1.0-0" }}
      </ion-note>
    </ion-item>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img alt="Gastos" src="../../../../assets/icon/gasto.png" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              {{
                total?.expenseCash
                  | currency : "COP" : "symbol-narrow" : "1.0-0"
              }}
            </ion-label>
          </ion-item>
        </ion-label>
        <ion-label>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img alt="Prestamos" src="../../../../assets/icon/prestamo.png" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              {{
                total?.loansCash | currency : "COP" : "symbol-narrow" : "1.0-0"
              }}
            </ion-label>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="warning" name="card-outline" slot="start"></ion-icon>
      <ion-label>Credito</ion-label>
      <ion-note slot="end">
        {{ total?.totalCredit | currency : "COP" : "symbol-narrow" : "1.0-0" }}
      </ion-note>
    </ion-item>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img alt="Gastos" src="../../../../assets/icon/gasto.png" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              {{
                total?.expenseCredit
                  | currency : "COP" : "symbol-narrow" : "1.0-0"
              }}
            </ion-label>
          </ion-item>
        </ion-label>
        <ion-label class="ion-text-wrap">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img alt="Prestamos" src="../../../../assets/icon/prestamo.png" />
            </ion-avatar>
            <ion-label>
              {{
                total?.loansCredit
                  | currency : "COP" : "symbol-narrow" : "1.0-0"
              }}
            </ion-label>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="primary" name="reader-outline" slot="start"></ion-icon>
      <ion-label>Debito</ion-label>
      <ion-note slot="end">
        {{ total?.totalDebit | currency : "COP" : "symbol-narrow" : "1.0-0" }}
      </ion-note>
    </ion-item>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img alt="Gastos" src="../../../../assets/icon/gasto.png" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              {{
                total?.expenseDebit
                  | currency : "COP" : "symbol-narrow" : "1.0-0"
              }}
            </ion-label>
          </ion-item>
        </ion-label>
        <ion-label>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img alt="Prestamos" src="../../../../assets/icon/prestamo.png" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              {{
                total?.loansDebit | currency : "COP" : "symbol-narrow" : "1.0-0"
              }}
            </ion-label>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="danger" name="reader-outline" slot="start"></ion-icon>
      <ion-label>Total de gastos:</ion-label>
      <ion-note slot="end">
        {{
          total?.expenseDebit + total?.expenseCash + total?.expenseCredit
            | currency : "COP" : "symbol-narrow" : "1.0-0"
        }}
      </ion-note>
    </ion-item>
  </ion-card>
</ion-content>
