<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle
        auto-hide="false"
        *ngFor="let p of appPages; let i = index"
      >
        <ion-item
          routerDirection="root"
          [routerLink]="[p.url]"
          lines="none"
          detail="false"
          routerLinkActive="selected"
        >
          <ion-icon
            slot="start"
            [ios]="p.icon + '-outline'"
            [md]="p.icon + '-sharp'"
          ></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-button (click)="signOut()">Inicial sesión</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
