<app-searchbar></app-searchbar>
<ion-list-header> Listado de gastos </ion-list-header>
<ion-button (click)="create()">
  <ion-icon name="add-circle-outline"></ion-icon>
</ion-button>
<ion-list *ngIf="this.data.length > 0">
  <ion-item *ngFor="let item of data">
    <ion-label>
      <h2>Nombre: {{item.name}}</h2>
      <h2>Valor: {{item.value | currency:'COP':'symbol-narrow':'1.0-0'}}</h2>
      <h2>Estado: {{item.status?.name}} </h2>
    </ion-label>

    <ion-icon (click)="view(item)" name="eye-outline"></ion-icon>
    <ion-icon (click)="update(item)" name="create"></ion-icon>
  </ion-item>
</ion-list>

<ion-list *ngIf="!(this.data.length > 0)">
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ion-list>
