<ion-list *ngFor="let item of expenses">
  <ion-item class="ion-padding-start">
    <ion-icon
      [color]="item.icon.labelColor"
      slot="start"
      [name]="item.icon.icon"
    ></ion-icon>
    <ion-label >
      <h3>Valor: {{ item.value | currency: "COP":"symbol-narrow":"1.0-0" }}</h3>
      <h3 class="ion-text-wrap" >Descripcion: {{ item.description }}</h3>
      <p>Fecha: {{ item.date | date }}</p>
    </ion-label>
    <ion-button [disabled]="disabled" (click)="deleteItem(item)" fill="clear">
      <ion-icon color="danger" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
<app-sk-expenses [loading]="loading"></app-sk-expenses>
<ng-container *ngIf="!(expenses.length > 0) && !loading">
  <ion-item lines="none">
    <ion-label>No hay datos</ion-label>
  </ion-item>
</ng-container>
