<ion-header translucent>
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title> Detalles </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Credito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <label>
          <h2>
            Pendientes:
            {{ total.pendingCredit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
          <h2>
            Prestamos:
            {{ total.loanCredit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
          <h2>
            Pagados:
            {{ total.paidCredit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Debito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <label>
          <h2>
            Pendientes:
            {{ total.pendingDebit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
          <h2>
            Prestamos:
            {{ total.loanDebit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
          <h2>
            Pagados:
            {{ total.paidDebit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <label>
          <h2>
            Debito:
            {{ total.expenseDebit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
          <h2>
            Credito:
            {{ total.expenseCredit | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
          <h2>
            Efectivo:
            {{ total.expenseCash | currency: "COP":"symbol-narrow":"1.0-0" }}
          </h2>
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
