.button-add {
  margin-left: 11px;
  height: 40px;
  width: 78px;
}

.ion-tabs {
  margin-top: 25px;
}

.group_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;

  ion-icon {
    margin-bottom: 5px;
  }
}
