<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cash-outline" color="success" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Gestion de afectivo </ion-title>
    <ion-buttons (click)="cancelModal()" slot="end">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <app-currency-input [formControl]="value"></app-currency-input>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-button
      class="button-action"
      [disabled]="value.invalid"
      (click)="addValue()"
    >
      depositar
    </ion-button>
    <ion-button
      class="button-action"
      [disabled]="value.invalid"
      (click)="removeValue()"
    >
      sacar
    </ion-button>
  </ion-toolbar>
</ion-footer>
