<ion-header translucent>
  <ion-toolbar>
    <ion-title> Gestion de afectivo </ion-title>
    <ion-buttons (click)="cancelModal()" slot="end">
      <ion-button>
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <app-currency-input [formControl]="value"></app-currency-input>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-button [disabled]="value.invalid" (click)="addValue()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
    <ion-button [disabled]="value.invalid" (click)="removeValue()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="cancelModal()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>
