ion-tabs {
  height: 98%;

  ion-tab-bar {
    border-radius: 16px;
    width: 92%;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    margin: 0 auto;

    ion-tab-button {
      background-color: var(--custom-background-footer);

      &::before {
        display: block;
        content: "";
        margin: 0 auto;
        width: 25px;
        height: 2px;
      }

      &.tab-selected::before {
        background-color: var(--ion-color-primary);
      }
    }
  }
}
